<div id="csv_upload_progress">
    
  <h2>GEM Data: Import CSV</h2>

  <p><%= link_to "Import again...", new_csv_upload_path %></p>

  <p><%= link_to "Refresh page", nil %> to view results.</p>

  <%= text_area_tag 'results', @results.join("\n").html_safe,
        class: "results",
        data: { field: "upload_results" } %>

  <%= link_to "Jump to bottom", "#",
        class: "smaller",
        data: { hook: "jump_bottom" } %>

</div>
