<p>
Doughty, C.E., Metcalfe, D.B, Girardin, C.A.J., Amezquita, F.F., Galiano, D., Huaraca Huasco, W., Silva-Espejo, J.E., Araujo-Murakami, A., da Costa, M.C., Rocha, W., Feldspauch, T.R., Mendoza, A.L.M., da Costa, A.C.L., Meir, P., Phillips, O.L., Malhi, Y.,  Drought impact on forest carbon dynamics and fluxes in Amazonia, Nature, 2015.
</p>

<p>
  <%= link_to "Download dataset", "/files/doughty_nature_data.zip" %>
</p>
