<div class="home">
  <h1>GEM data upload</h1>
  <%= link_to 'GEM Traits', traits_csv_uploads_path, class: 'button large' %>
  <%= link_to 'GEM Carbon', new_csv_upload_path, class: 'button large' %>
  <%= link_to 'Batches', batches_path, class: 'button large' %>
</div>
