<h1>Listing batches</h1>

<table>
  <thead>
    <tr>
      <th>Import address</th>
      <th>Started</th>
      <th>Finished</th>
      <th>Transaction passed</th>
    </tr>
  </thead>

  <tbody>
    <% @batches.each do |batch| %>
      <tr>
        <td><%= link_to batch.import_address, csv_upload_path(batch.import_address) %></td>
        <td><%= batch.started %></td>
        <td><%= batch.finished %></td>
        <td><%= batch.transaction_passed %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

