// Place all the styles related to the csv_uploads controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

form {
    margin-top: 2em;
    .buttons {
        margin-top: 2em;
    }
}

textarea {
    &.results {
        margin-top: 2em;
        font-family: monospace;
        font-size: 11px;
        color: #000;
        height: 45em;
    }
}

a {
    &.smaller {
        font-size: 13px;
    }
}

