// Place all the styles related to the csv_uploads controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

form {
    margin-top: 2em;
    .buttons {
        margin-top: 2em;
    }
}

.OLDresults {
    margin: 2em 0;
    font-family: monospace;
    font-size: 12px;
}

textarea {
    &.results {
        margin: 2em 0;
        font-family: monospace;
        font-size: 11px;
        color: #000;
        height: 45em;
    }
}
